/* Fonts  */
@font-face {
    font-family: "leander"; 
    src: url("https://wren-nest.github.io/here-be-dragons/fonts/Leander.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "romanantique"; 
    src: url("https://wren-nest.github.io/here-be-dragons/fonts/RomanAntique.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

/* Sections */
body {
    background-color: rgb(8, 93, 69);
    color: rgb(198, 153, 55);
    font-family: garamond;
    text-align:center;
    font-size: 100%;
    margin-left: 5%;
    margin-right: 5%;
    }

.header {
    background-color: rgb(198, 153, 55);
    color: rgb(41, 28, 48);
    height: 10%;
    width: 80%;
}

/* Content */
h1 {
    color: rgb(41, 28, 48);
    font-family: romanantique;
    font-size:2em;
    }
  
h2 {
    color: white;
    /* font-family: spaceton; */
    font-size:1.5em;
    }
  
h3 {
    color: white;
    /* font-family: spaceton; */
    font-style: italic;
    font-size:1.5em;
    }
  
p {
    color: white;
    font-family: leander;
    font-size:1em;
    }

img {
        width: 100%;
    }

iframe {
    height:100%;
    width:100%;
    border:none;
}

code {
    background-color: rgb(74, 74, 74);
    color: white;
    font-family: monospace;
    text-align:left;
    font-size: 100%;
}

/* Split */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
.left {
    left: 0;
    background-color: rgb(8, 93, 69);
  }
  
.right {
    right: 0;
    background-color: rgb(74, 74, 74);
  }
  